body 
{
    background-color: black;
    color: azure;
}

#fileToUpload 
{
    position: fixed;
    top: 150px;
    left: 10px;
    font-size: 30px;
    color :azure;
    font-family: Arial, Helvetica, sans-serif;
}
#uploadButton
{
    position: fixed;
    top: 200px;
    left: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#load
{
    position: fixed;
    top: 222px;
    left: 375px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#videos
{
    position: fixed;
    top: 300px;
    left: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#anamorphButton
{
    position: fixed;
    top: 250px;
    left: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#resetButton
{
    position: fixed;
    top: 350px;
    left: 10px;
    font-size: 20px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
#header
{
    position: fixed;
    top: -50px;
    left: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}