body 
{
    background-color: black;
    color: azure;
}

#fileToUpload 
{
    position: fixed;
    top: 150px;
    left: 10px;
    font-size: 30px;
    width: 494px;
    color :azure;
    font-family: Consolas,monaco,monospace; 
    background-color: #2f16a0;
    color :azure;
    padding: 3px;
    border: none;
}
#fileToUpload:hover 
{
    border: none;
    background: rgb(115, 0, 255); 
}
#uploadButton
{
    position: fixed;
    top: 196.66px;
    left: 10px;
    width: 500px;
    font-size: 30px;
    font-family: Consolas,monaco,monospace; 
    background-color: #2f16a0;
    color :azure;
    padding: 3px;
    border: none;
}
#uploadButton:hover 
{
    border: none;
    background: rgb(115, 0, 255); 
}
#load
{
    position: fixed;
    top: 222px;
    left: 410px;
    font-size: 30px;
    font-family: Consolas,monaco,monospace; 
    color :azure;
}

#videos
{
    position: fixed;
    top: 277.5px;
    left: 10px;
    width: 494px;
    font-size: 30px;
    font-family: Consolas,monaco,monospace; 
    background-color: #2f16a0;
    color :azure;
    padding: 3px;
    border: none;
}
#videos:hover 
{
    border: none;
    background: rgb(115, 0, 255); 
}
#anamorphButton
{
    position: fixed;
    top: 237px;
    left: 10px;
    font-size: 30px;
    width: 500px;
    font-family: Consolas,monaco,monospace; 
    background-color: #2f16a0;
    color :azure;
    padding: 3px;
    border: none;
}
#anamorphButton:hover 
{
    border: none;
    background: rgb(115, 0, 255); 
}

#resetButton
{
    position: fixed;
    top: 318.5px;
    left: 10px;
    font-size: 20px;
    width: 500px;
    color :azure;
    font-family: Consolas,monaco,monospace; 
    background-color: #2f16a0;
    padding: 3px;
    border: none;
}
#resetButton:hover 
{
    border: none;
    background: rgb(115, 0, 255); 
    color :red;
}
#header
{
    position: fixed;
    top: -50px;
    left: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}